# IDE
.idea/
.vscode/

# Backend (Gradle)
backend/.gradle/
backend/build/
backend/src/main/resources/static/*
!backend/src/main/resources/static/.gitkeep

# Frontend (Angular/npm)
frontend/node_modules/
frontend/dist/
frontend/.angular/

docs/

# Env
.env

# OS
.DS_Store
