.settings-form {
  max-width: 640px;
  display: flex;
  flex-direction: column;

  .full-width {
    width: 100%;
  }

  .row {
    display: flex;
    gap: 1rem;

    mat-form-field {
      flex: 1;
    }
  }
}
